.Dashboard{ 
   background-color: black;
   padding: 10% 0;
    .error{
        position: absolute;
        top: 30px;
        height: 20px;
        width: 20%;
        text-align: center;
        background: rgba(255,255,255,0.7);
        backdrop-filter: blur(4px);
        padding: 10px;
        border-radius: 5px;
    }
    main{
        background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.2));
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        /* height: 300px; */
        width: 80%;
        margin: auto;
     
    }   
    .user{
        flex: 1;
        padding: 20px;
        display: flex;
        height: 80vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
        a{
            color: white;
    text-decoration: none;
        }
        .photo{
            height: 50px;
            width: 150px;
            text-align: center;
            font-weight: bold;
            font-size: 30px;
        }
        img{
            height: 150px;
            width:150px;
            background-image: url('../../images/Me.jpeg');
            border-radius: 50%;
            background-size: cover;
        }
    }
    .Cards{
        flex: 2;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 80vh;
        padding: 15px;
    }
}